@screen-xs-xs-max: 640px;
@screen-lg-xs-max: 1024px;
@screen-lg-xs-min: 1025px;

.market-text-overflow{.text-overflow();}

.ver-center(){top:50%;transform:translateY(-50%);}

.market-app{
    .flex{
        display: flex;
    }
    .overflow{
        overflow: hidden;
    }
}

[id^=js_block_border_apps_core_marketplace_block_]{
    position: relative;

    .content{position:static;}
}

.ms-layer.video-title{
    font-family: "Lato",sans-serif;
    color: white;
    font-weight: 600;
    font-size: 42px;
    margin:0px;
    letter-spacing:0px;
}

.ms-layer.video-title.video-top-title{
    font-size: 16px;
    color: gray;
}

.ms-layer.video-title.video-sub-title{
    font-size: 22px;
    font-weight: 300;
}


//----------  feature & sponsore  ----------
.market-widget-block{
    article{
        .item-outer{
            .item-media{
                margin-right: @grid-point+4;
                .square(56px);
                min-width: 56px;

                a{
                    transition: box-shadow 0.3s;
                    .bg-img-ratio(100%);
                }

                html[dir='rtl'] &{
                    margin-right: 0;
                    margin-left: @grid-point+4;
                }
            }

            .item-inner{
                .item-statistic{
                    margin-top: 4px;
                    .fz-lh(12px);
                }

                .item-price{
                    color: @brand-warning;
                }

                .item-title{
                    .truncateLines(14px,19px,2,false);
                    margin-bottom: 4px;
                    a{transition:color 0.3s}
                }

                .item-author{
                    .fz-lh(12px);
                    color: @gray-dark;
                    margin-top: @grid-point/2;
                    .text-overflow();
                    text-transform: capitalize;
                    
                    .user_profile_link_span{
                        &,a{
                            font-weight: normal !important;

                            html[dir='rtl'] &{
                                display: inline-block;
                            }
                        }
                    }
                }

                .item-statistic{
                    color: @gray-dark;
                    transition: color 0.3s;

                    span{
                        display: inline-block;
                    }
                }
            }

            &:hover{
                .item-media a{
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
                }

                .item-inner{
                    .item-statistic{
                        color: @text-color;
                    }
                    .item-title a{
                        color: @link-hover-color;
                    }
                }
            }
        }

        & + article{
            @media screen and (min-width: @screen-sm-min){
                margin-top: 12px;
                padding-top: 12px;
                border-top: 1px solid @border-color-light;
            }
        }
    }

    &.market-sponsored{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -4px;

        .item-author{
            display: block !important;
        }

        article{
            width: 50%;
            padding: 16px 4px 0 4px;

            .item-outer{
                flex-direction: column;

                .item-inner{
                    margin-top: 4px;
                }

                .item-title{
                    .truncate-1();
                    max-width: 100%;
                }

                .item-media{
                    margin-right: 0;
                    width: 100%;
                    height: auto;
                }
            }

            & + article{
                margin-top: 0;
                border-top: 0;
            }

            &:nth-of-type(1),
            &:nth-of-type(2){
                padding-top: 0;
            }

            @media screen and (max-width: @screen-xs-max){
                width: 33.33%;

                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4){
                    padding-top: 0;
                }
            }

            @media screen and (max-width: @screen-xs-xs-max){
                width: 50%;

                &:nth-of-type(1),
                &:nth-of-type(2){
                    padding-top: 0;
                }

                &:nth-of-type(3),
                &:nth-of-type(4){
                    margin-top: 12px;
                }
            }


            @media screen and (max-width: @screen-xs-min){
                width: 100%;

                &:nth-of-type(2){
                    margin-top: 12px;
                }
            }
        }
    }

    &.market-app .sticky-label-icon{
        top: 0;
        position: absolute;
    }

    @media screen and (max-width: @screen-xs-max){
        display: flex;
        flex-wrap: wrap;

        article{
            margin-top: 12px;
            width: 33.33%;

            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3){
                margin-top: 0;
            }
        }
    }

    @media screen and (max-width: @screen-xs-xs-max){
        article{
            width: 50%;

            &:nth-of-type(1),
            &:nth-of-type(2){
                margin-top: 0;
            }

            &:nth-of-type(3){
                margin-top: 12px;
            }
        }
    }

    @media screen and (max-width: @screen-xs-min){
        article{
            width: 100%;
            margin-bottom: 0;

            &:nth-of-type(2){
                margin-top: 12px;
            }

            & + article{
                margin-top: 12px;
                padding-top: 12px;
                border-top: 1px solid @border-color-light;
            }
        }
    }
}

//----------  listing  ----------
.market-app.listing{
    margin: 0 -@grid-point;
    display: flex;
    flex-flow: wrap;
    
    .flag_style_parent{
        position: absolute;
        top: 0;
        .r-1;
        display: flex;
    }

    .is_sponsored,
    .is_featured{
        .flag_style_parent{
            display: flex !important;
        }
    }

    .moderation_row{
        position: absolute;
        top: 0;
        .l-0;
    }

    article{
        padding: 0 @grid-point;
        .mb-3();
        @media (min-width: @screen-lg-min){
            width: 33.33%;
            #main.empty-left.empty-right &{
                width: 20%;
            }
            #main.empty-left:not(.empty-right) &,#main.empty-right:not(.empty-left) &{
                width: 25%;
            }
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max){
            width: 50%;
            #main.empty-left.empty-right &{
                width: 20%;
            }
            #main.empty-left:not(.empty-right) &,#main.empty-right:not(.empty-left) &{
                width: 33.33%;
            }
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
            width: 50%;
            #main.empty-left.empty-right &{
                width: 33.33%;
            }
        }
        @media (max-width: @screen-xs-max){
            width: 50%;
        }
        &.has-action{
            .item-inner{
                .item-title{
                    max-width: calc(~'100% - @{grid-point}*3') !important;
                }
            }
        }
        .item-outer{
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            .item-media{
                transition: box-shadow 0.3s;
                position: relative;
                overflow: hidden;

                & > a{
                    .bg-img-ratio(100%);
                    transition: filter 0.3s;
                }

                &:before{
                    content: "";
                    z-index: 1;
                    display: block;
                    left: -1px;
                    right: -1px;
                    bottom: -1px;
                    top: -1px;
                    position: absolute;
                    pointer-events: none;
                    transition: opacity 0.3s;
                    background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.50196) 0%, rgba(0,0,0,0.25) 40%, rgba(0,0,0,0) 100%);
                    background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.50196) 0%, rgba(0,0,0,0.25) 40%, rgba(0,0,0,0) 100%);
                    background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.50196) 0%, rgba(0,0,0,0.25) 40%, rgba(0,0,0,0) 100%);

                    @media screen and (min-width: @screen-xs-min){
                        opacity: 0;
                    }
                }

                .item-info{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    left: @grid-point;
                    z-index: 1;
                    right: @grid-point;
                    transition: all 0.3s;
                    .b-1;
                    
                    .no_image_user,
                    .img-wrapper{
                        .s-4;
                        border-radius: @radius-circle;
                        overflow: hidden;
                        span{
                            font-size: 14px;
                        }
                    }
                    .img-wrapper{
                        img{
                            .img-fullscale();
                        }
                    }
                    .item-info-author{
                        overflow: hidden;

                        div{
                            color: @gray;
                            max-width: 100%;
                            display: block;
                            .fz-lh(12px);
                            .text-overflow();

                            .user_profile_link_span{
                                display: inline-block;

                                &,a{
                                    color: #fff !important;
                                    font-weight: normal !important;

                                    &:hover{
                                        color: @link-hover-color !important;
                                    }
                                }
                            }
                        }
                    }

                    @media screen and (min-width: @screen-lg-xs-min){
                        bottom: -32px;
                    }
                    @media (max-width: 1024px){
                        display: none;
                    }
                }
            }

            .item-inner{
                .pt-1();
                position: relative;
                display: flex;
                flex-direction: column;
                flex:1;
                min-height: 0;
                flex-basis: auto;
                .item-price{
                    .fz-lh(16px);
                    color: @brand-warning;
                    font-weight: bold;
                    margin-bottom: 6px;
                    margin-top: auto;
                    .free{
                        color: @brand-success;
                    }
                }

                .item-title{
                    margin-bottom: @grid-point/2;
                    .fz-lh(16px);
                    .truncateLines(16px,21px,2,false);
                    a{
                        color: @text-color;

                        &:hover{
                            color: @link-hover-color;
                        }
                    }
                }

                .item-minor-info{
                    margin-bottom: 4px;
                    color: @gray-dark;
                    .fz-lh(12px);
                    display: flex;
                    .item-text-label{
                        html[dir='ltr'] &{
                            margin-right: 4px;
                        }
                        html[dir='rtl'] &{
                            margin-left: 4px;
                        }
                    }
                    .item-text-info{
                        flex:1;
                        min-width: 0;
                        .truncate-1();
                        ul{
                            .truncate-1();
                        }
                    }
                    
                    a{
                        color: @gray-dark;
                        transition: color 0.3s;

                        &:hover{
                            color: @link-hover-color;
                        }
                    }
                }

                .item-statistic{
                    margin-top: @grid-point/2;
                    .fz-lh(12px);
                    display: flex;
                    flex-flow: wrap;
                    & > span{
                        .mr-2;
                    }
                }

                .item-option{
                    position: absolute;
                    .square(32px);
                    .items-center();
                    right: -@grid-point;
                    top: @grid-point/2;
                    
                    .row_edit_bar_action{
                        .s-4;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        .ico{
                            color: @gray-dark;
                        }
                    }

                    .dropdown.open{
                        .row_edit_bar_action .ico:before{
                            content: "\ea88";
                            color: @gray-darker;
                        }
                    }

                    &:hover{
                        .row_edit_bar_action .ico:before{
                            content: "\ea88";
                            color: @gray-darker;
                        }
                    }

                    html[dir='rtl'] &{
                        right: auto;
                        left: -@grid-point;
                    }
                }
            }

            &:hover{
                .item-title{
                    a{
                        color: @brand-primary-dark !important;
                    }
                }
                .item-media{
                    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);

                    & > a{
                       /*  filter: blur(2px); */
                    }

                    &:before{
                        opacity: 1;
                    }
                    
                    .item-info{
                        bottom: 8px;
                    }
                }
            }
        }

    }
}

//----------  create  ----------
.market-app.add{
    .form-inline.category{
        margin: 0 -8px;

        .form-group{
            width: 50%;
            padding: 0 8px;

            .js_mp_category_list{
                width: 100%;
            }

            &.price-right{
                .form-inline{
                    display: flex;

                    select,.selectize-control{
                        width: auto;
                        border-top-right-radius: 0;
                        border-right: 0;
                        border-bottom-right-radius: 0;
                    }

                    input{
                        width: 100%;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        flex:1;
                    }
                }
            }
        }

        @media screen and (max-width: @screen-xs-xs-max){
            flex-direction: column;

            .form-group{
                width: 100%;
            }
        }
    }

    .location{

        & > .form-inline{
            display: flex;
            margin: 0 -8px;

            & > .form-group{
                padding: 0 8px;
                width: 50%;

                select,input,.selectize-control{
                    width: 100%;
                }

                &#js_mp_add_city{
                    display: flex;
                    margin: 0 0 0 -8px;
                    padding-right: 0;

                    .form-group{
                        padding: 0 8px;
                        width: 50%;
                        margin-bottom: 0;

                        &:last-of-type{
                            padding-right: 0;

                            @media screen and (max-width: @screen-xs-min){
                                padding: 0 8px;
                                margin-top: 12px;
                            }
                        }

                        @media screen and (max-width: @screen-xs-min){
                            width: 100%;
                            margin: 0;
                        }
                    }

                    @media screen and (max-width: @screen-xs-min){
                        flex-direction: column;
                        margin: 0;
                        padding: 0;
                    }
                }
            }

            @media screen and (max-width: @screen-sm-max){
                flex-direction: column;

                & > .form-group{
                    width: 100%;
                    margin-bottom: 0;
                }

                #js_mp_add_city{
                    margin-top: 8px !important;
                }
            }
        }
    }

    .footer{
        margin-bottom: 0;
        .pt-2();
        .mt-2();
        border-top: 1px solid @border-color-light;
    }
}

//----------  detail  ----------
#page_marketplace_view{
    #content-holder{
        position:relative;
    }
    .item-block-detail-listing{
        margin-top: @grid-point*2 !important;
        border-top: 1px solid #eee;
        .pt-2;
        margin-left: -@block-spacing;
        margin-right: -@block-spacing;
        padding-left:@block-spacing;
        padding-right:@block-spacing;
        .item-header{
            .fz-lh(20px);
            color: @gray-dark;
            font-weight: bold;
            .mb-2;
        }
        .market-app.listing{
            .item-category{
                display: none !important;
            }
        }
    }
    .item_view{
        margin-top: 0 !important;
    }
    .market-view-detail-main-content{
        .item-action-contact{
            .btn{
                .mb-2;
                .mr-1;
            }
        }
        .item-info-author{
            display: flex;
            align-items: center;
            height: auto;
            max-height: none;
            margin: 0;
            .py-2;
            border-top:1px solid @gray-lighter;
            .img-wrapper,
            .no_image_user{
                border-radius: @radius-circle;
                overflow: hidden;
                .s-4;
                .mr-1();

                span{
                    font-size: 10px;
                }
            }
            .img-wrapper{
                img{
                    .img-fullscale();
                }
            }
            .item-detail-main-action{
                .ml-2;
                margin-top: -@grid-point;
                html[dir='ltr'] &{
                    margin-right: -@grid-point;
                }
                html[dir='rtl'] &{
                    margin-left: -@grid-point;
                }
                .item_bar_action{
                    .s-4;
                    display: inline-flex;
                    align-items:center;
                    justify-content: center;
                    color: @gray-dark;
                }
            }
            .item-detail-author{
                flex:1;
                min-width: 0;
                overflow: hidden;

                div{
                    .fz-lh(12px);
                    color: @gray-dark;
                    .text-overflow();
                    max-width: 100%;
                    display: block;
                    &:first-child{
                        margin-bottom: 2px;
                    }
                    .user_profile_link_span{
                        &,a{
                            font-weight: normal !important;
                        }
                    }
                }
            }

            html[dir='rtl'] &{
                padding-right: 0;
                .pl-3();
            }
        }


        .item_bar{
            .item_bar_action{
                .square(32px);
                display: block;
                .items-center();
                color: @gray-dark;

                &:hover{
                    .ico:before{
                        content: "\ea88";
                    }
                }
            }

            .dropdown-menu{
                margin-top: 0;
            }

            .open{
                .item_bar_action{
                    .ico:before{
                        content: "\ea88";
                    }
                }
            }
        }
        .item-info-price{
            font-size: 24px;
            font-weight: bold;
            color: @brand-warning;
            margin-bottom: 12px;
            .free{
                color: @brand-success;
            }
            .sold{
                color: @gray-dark;
            }
        }
        .item-info-statistic{
            display: flex;
            flex-flow: wrap;
            font-size: 14px;
            font-weight: bold;
            color: fade(@gray-darker,80%);
            margin-bottom: 12px;
            .item-stat{
                .mr-2;
            }
        }
        .item-action-contact{
            .item-action-list{
                display: flex;
                flex-flow: wrap;
                .item-buynow{
                    min-width: 110px;
                    text-transform: uppercase;
                }
                .btn{
                    .h-5;
                    display: inline-flex;
                    align-items:center;
                    justify-content: center;
                }
                .item-soldout{
                    .h-5;
                    text-transform: uppercase;
                    background:@gray-lighter;
                    color: @gray-dark;
                    text-transform: uppercase;
                    font-weight: bold;
                    pointer-events:none;
                    min-width: 90px;
                }
            }
        }
        .item-info-short-desc{
            color: @gray-dark;
            .mb-2;
        }
        .item-info-location,.item-info-categories{
            .fz-lh(13px);
            .mb-1;
            .item-label{
                color: @gray-dark;
            }
            & > ul{
                display: inline;
                a{
                    color: @brand-primary;
                    &:hover{
                        color: @brand-primary-dark;
                    }
                }
            }
        }
        .item-info-long-desc{
            .item-label{
                color: @gray-dark;
                text-transform: uppercase;
                .py-1;
                margin-bottom: 4px;
            }
        }
        .item-comment{
            position: relative;
            min-height: @grid-point*6;
            border-bottom: 1px solid @border-color-light;
            .comment_mini_content_border{
                border-radius: 0;
                margin: 0;

                .comment-mini-content-commands{
                    padding: 8px 0;
                    border-bottom: 0;
                }
            }
        }
    }

    .ms-tabs-vertical-template{

        .ms-slide-bgcont{
            outline: 1px solid rgba(0,0,0,0.1);
            outline-offset: -1px;
        }

        .ms-sbar.ms-dir-v{
            display: none;
        }
        .ms-nav-next,.ms-nav-prev{
            cursor: pointer;
            display: inline-flex;
            .s-6;
            align-items:center;
            justify-content: center;
            background:rgba(0,0,0,0.3);
            color: #fff;
            .transition(all 300ms ease);
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            font-size: 24px;
            &:hover{
                background:@brand-primary;
            }
        }
        .ms-nav-prev{
            left: 0;
            &:before{
                .ico-content("\eab5");
            }
        }
        .ms-nav-next{
            right: 0;
            &:before{
                .ico-content("\eab8");
            }
        }
        .ms-thumb-list{
            position:static;
            width: calc(~"100% - 60px") !important;
            margin: @grid-point 30px;
            &.not-nav-btn{
                .ms-thumblist-fwd,.ms-thumblist-bwd{
                    display: none !important;
                }
            }
            .ms-thumb-frame{
                .s-6;
                margin-right: 5px;
                opacity: 1;
                img{
                    width: 100%;
                    height: 100%;
                }
                &.ms-thumb-frame-selected{
                    .ms-thumb{
                        &:before{
                            border-color:@brand-primary !important;
                        }
                    }
                }
                .ms-thumb{
                    position:relative;
                    border:1px solid rgba(0,0,0,0.1);
                    &:before{
                        content:"";
                        left: 0;
                        right: 0;
                        bottom:0;
                        top:0;
                        border:2px solid transparent;
                        position:absolute;
                        z-index: 5;
                        .transition(all 300ms ease);
                    }
                    &:hover{
                        &:before{
                            border-color:fade(@gray-light,80%);
                        }
                    }
                    span{
                        width: 100%;
                        .bg-img-ratio(100%);
                    }
                }
            }

            .ms-thumblist-bwd,
            .ms-thumblist-fwd{
                .w-3;
                display: flex;
                align-items:center;
                justify-content: center;
                position:absolute;
                bottom:0;
                color: @gray-light;
                height: @grid-point*6;
                cursor: pointer;
                .transition(all 300ms ease);
                border:none !important;
                background: transparent !important;
                &:before{
                    font-size: 24px !important;
                }
                &:hover{
                    @media (min-width: @screen-md-min){
                        color: @gray-dark;
                    }
                }
            }

            .ms-thumbs-cont{
                top: 0 !important;
            }

            .ms-thumblist-fwd{
                left: 0;
                &:before{
                    .ico-content('\eab5');
                }
            }
            .ms-thumblist-bwd{
                right: 0;
                &:before{
                    .ico-content('\eab8');
                }
            }

            
        }
    }

    .market-addthis{
        .pt-2();

        .item-categories{
            display: flex;
            margin-bottom: 12px;

            .item-label{
                margin-right: 4px;

                .html[dir='rtl'] &{
                    margin-right: 0;
                    margin-left: 4px;
                }
            }
        }

        .addthis_block{
            .mb-3();
        }
    }
    .marketplace-icon{
        position: absolute;
        display: flex;
        .r-2;
        top: 0;
    }
}

.market-view-detail{
    .market-detail-not-right{
        display: flex;
        .pb-2;
        .mb-2;
        border-bottom:1px solid @gray-lighter;
        .market-detail-photo-block{
            width: 448px;
            .mr-3;
            position:relative;
            &.one-slide{
                .ms-thumb-list,.item-slider-count,.ms-nav-next,.ms-nav-prev{
                    display: none !important;
                }
            }
            &.hide-thumb{
                .ms-thumb-list{
                    display: none;
                }
                .item-slider-count{
                    .b-1;
                    .item-count{
                        background:rgba(0,0,0,0.7);
                        color: #fff;
                    }
                }
            }
            .item-slider-count{
                position:absolute;
                .r-1;
                bottom:@grid-point*9;
                .item-count{
                    .h-4;
                    display: inline-flex;
                    align-items:center;
                    justify-content: center;
                    .px-1;
                    font-size: 12px;
                    font-weight: bold;
                    background:rgba(255,255,255,0.7);
                    border-radius:3px;
                    cursor: pointer;
                    .ico{
                        font-size: 14px;
                        html[dir='ltr'] &{
                            margin-right: 4px;
                        }
                        html[dir='rtl'] &{
                            margin-left: 4px;
                        }
                    }
                }
            }
        }
        .detail-extra-info{
            flex:1;
            min-width: 0;
            //fix ie
            flex-basis: auto;
        }
    }

    .ms-thumb{opacity: 0}
    
    .master-slider{
        .ms-thumb{opacity: 1}
    }

}



//----------  feed  ----------
.market-app.feed{
    .item-media{
        a{
            width: 200px;
            min-height: 200px;
            .bg-img-ratio(76%);
        }
    }

    .item-inner{
        width: 100%;
        padding: 12px 16px;
        border: 1px solid rgba(0,0,0,0.1);
        margin-left: -1px;

        .item-title{
            font-weight: bold;
            .truncateLines(16px,21px,2,false);
            color: @text-color;
        }

        .item-price{
            margin-top: 4px;
            .fz-lh(16px);
            color: @brand-warning;
        }

        .item-category{
            .fz-lh(12px);
            color: @gray-dark;
            margin-top: 4px;

            a{
                color: @text-color;

                html[dir='rtl'] &{
                    display: inline-block;
                }
            }

            span{
                html[dir='rtl'] &{
                    display: inline-block;
                }
            }
        }

        .item-description{
            margin-top: 4px;
            .truncateLines(14px,19px,3,false);
            color: @gray-dark;
            white-space: pre-line;
        }

        html[dir='rtl'] &{
            margin-left: 0;
            margin-right: -1px;
        }
    }

    @media screen and (max-width: @screen-xs-min){
        .item-outer{
            flex-direction: column;

            .item-media{
                margin-left: 0;

                a{
                    width: 100%;
                }
            }

            .item-inner{
                margin: 0 !important;
            }
        }
    }
}
//edit page
#page_marketplace_add{
    .page_section_menu{
        margin-top: -@grid-point*2;
    }
}
//----------  create  ----------
.market-app.manage-photo{
    .manage-photo-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .item-container{    
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;

        article{

            @media screen and (min-width: @screen-xs-min){
                width: 33.33%;
            }

            @media screen and (min-width: @screen-sm-min){
                width: 16.66%;
            }

            @media screen and (max-width: @screen-xs-min){
                width: 50%;
            }

            .item-media{
                position: relative;
                
                a{
                    .bg-img-ratio(100%);
                }

                .item-photo-delete{
                    .l-1;
                    top: 8px;
                    display: block;
                    position: absolute;
                    .square(24px);
                    .items-center();
                    color: #fff;
                    font-size: 9px;
                    cursor: pointer;
                    z-index: 1;
                    border-radius: 100%;
                    background-color: rgba(0,0,0,0.7);
                }
                .is-default{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;
                    .item-default{
                        color: #fff;
                        z-index: 2;
                        .ml-1;
                        margin-bottom:@grid-point/2; 
                        .fz-lh(12px);
                        .ico{
                            margin-right: @grid-point/2;
                            html[dir='rtl'] &{
                                display: inline-block;
                                margin-right: 0;
                                margin-left: @grid-point/2;
                            }
                        }
                    }
                    &:after{
                        position: absolute;
                        bottom: 0;  
                        height: 100%;
                        width: 100%;
                        content: "";
                        background: linear-gradient(to top,
                            rgba(0,0,0, 0.7) 0%, 
                            rgba(255,255,255, 0) 30%
                        );
                    }
                }
            }
        }
    }
}

.market-app.create{
    .privacy-block-content{
        margin: 0;
        border-top: 1px solid @border-color-light;
        border-bottom: 1px solid @border-color-light;
        display: inline-flex;
        flex-direction: row;
        position: relative;
        min-width: 240px;
        padding: 16px 0;
        width: 50%;
        @media screen and (max-width: @screen-sm-max){
            width: 100%;
        }

        .item_is_active_holder{
            right: -11px;
            position: absolute !important;
            &.item_selection_not_active{
                & ~ label{
                    color: @gray;
                }
                & ~ .inner *{
                    color: @gray;
                }
            }

            html[dir='rtl'] &{
                right: auto;
                left: -11px;
            }
        }

        label{
            margin-bottom: 6px;
        }

        .extra_info{
            .fz-lh(12px);
            color: @gray-dark;
        }

        .inner{
            width: 100%;
            margin-right: 56px;
        }
    }

    & + .market-app.create.sold{
        margin-top: -17px;
    }
}

.market-app.cancel-upload{
    border-top: 1px solid @border-color-light;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;

    a{
        display: inline-flex;
        align-items: center;
        height: 40px;
    }
}

.market-app.invoice{
    .text-center{
        text-align: center;
    }

    thead{
        tr{
            background-color: @gray-light;
            th{
                font-weight: normal;
                border-bottom: 0;
            }
        }
    }

    tbody{
        td{
            border-top: 0;
            border-bottom: 1px solid @gray-lighter;

            &.date{
                color: @gray-dark;
                font-size: 12px;
            }
        }
    }
}

//----------  rtl  ----------
html[dir='rtl']{
    .market-app.add{
        .form-inline.category .form-group.price-right .form-inline{
            input{
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            select{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: 0;
                border-top-right-radius: 4px;
                border-right: 1px solid @border-color-dark;
                border-bottom-right-radius: 4px;
            }

        }

        .location .form-inline > .form-group#js_mp_add_city .form-group:last-of-type{
            padding-left: 0;
            padding-right: 8px;
        }
    }
    
    @media screen and (max-width: @screen-xs-min){
        .market-app.detail .location .form-inline > .form-group#js_mp_add_city .form-group:last-of-type{
            padding: 0 8px;
        }
    }
}

.item-marketplace-member-list{
    display: flex;
    flex-flow: wrap;
    margin: 0 -@block-spacing;
    
    .user_rows{
        padding: 0 @block-spacing;
        margin:0;
        margin-bottom: 16px;
        border: 0;
        display: flex;
        align-items: center;
        flex-direction:column;
        width: auto;
        height: auto;
        .user_rows_image{
            background: transparent;
            position: relative;
            z-index: 1;
            width: @grid-point*12;
            height: @grid-point*12;
            border-radius: @radius-circle;
            overflow: hidden;
            min-width: 40px;
            .transition(all 300ms ease);
            .img-wrapper{
                img{
                    .img-fullscale();
                }
            }
            .no_image_user{
                width: 100%;
                height: 100%;
                span.js_hover_info{
                    position: absolute !important;
                    margin-top: 0 !important;
                }

                & > span{
                    margin-top: 0 !important;
                    position: absolute !important;
                    font-size: 14px !important;
                }
            }

            &:hover{
                .js_hover_info:before, 
                .img-wrapper:before{
                    border-color: @brand-primary-dark;
                }
                .shadow-thick(@brand-primary);
            }
        }
        .user_rows_inner{
            max-width: @grid-point*12;
            .truncate-1();
            .friend-info{
                display: none;
            }
            .user_profile_link_span{
                margin-top: 3px !important;
                position: static;
                a{
                    background:#fff;
                    color: @gray-darker !important;
                    font-size: 14px;
                    .transition(all 300ms ease);
                    .truncate-1();

                    &:hover{
                        color: @brand-primary-dark !important;
                    }
                }
            }
        }
        
    }
}
//mixin responsive detail
.market-detail-responsive-mixin{
    .market-view-detail{
        .market-detail-not-right{
            flex-direction: column;
            .market-detail-photo-block{
                width: 100%;
                margin: 0;
                margin-bottom: 12px;
            }
        }
    }
}

.core-map-item-listing .core-map-item .item-outer .item-minor-info {
    .item-info-categories {
        .fz-lh(13px);
        .mb-1;
        .item-label {
            color: @gray-dark;
        }
        & > ul {
            display: inline;
            a {
                color: @brand-primary;
                &:hover {
                    color: @brand-primary-dark;
                }
            }
        }
    }
}

@media (min-width: @screen-lg-min){
    #main:not(.empty-right):not(.empty-left){
        .market-detail-responsive-mixin();
    }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max){
    #main:not(.empty-right),#main:not(.empty-left){
        .market-detail-responsive-mixin();
    }
}
@media (max-width: @screen-sm-max){
    .market-detail-responsive-mixin();
}